<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="Crowdy">
    <div class="container">
      <div class="row"><h1>Crowdy</h1></div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-4">
          
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search by name, movie, or location!" ng-model="globalSearch.$"><br>
          </div>

          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Theater Name</th>
                <th></th>
              </tr>
              <tr ng-repeat="row in listings | filter: searchFilterCustom(row)">
              <!-- I added the line below, similar to line above but "globalSearch" -->
              <tr ng-repeat="row in listings | filter: globalSearch"> 
              <td ng-bind=row.name ng-click="showDetails(listings.indexOf(row))" id="singleEntry"></td>
                <!-- <td><button ng-click="deleteListing(listings.indexOf(row))">Remove</button></td> -->
                <!-- <td><button ng-click="showDetails(listings.indexOf(row))">Info</button></td> -->
            </table>
          </div>

        </div>


        <div class="col-md-8">
          <div class="jumbotron" id="bigboy">
            <h2 id="entryName"></h2>
            <!-- 
              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature
             -->
            <table>
              <tr><td>Crowdedness:</td><td> <p id="entryCrowdedness">     </p></td></tr>
              <tr><td>Rating:</td><td>  <p id="entryRating"> stars        </p></td></tr>
              <tr><td>Address:</td><td> <p id="entryAddress">             </p></td></tr>
            </table>
          </div>
        </div>

      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>
